In [1]:
from pathlib import Path

project_root_path = Path.cwd().parent
project_root_path

WindowsPath('F:/projects_ssd/tfm/tfm-rl-starcraft2')

In [30]:
models_path = project_root_path / "models"
models_path = project_root_path / "models_or"
models_path

WindowsPath('F:/projects_ssd/tfm/tfm-rl-starcraft2/models_or')

In [31]:
import pandas as pd

def get_agent_stats(model_id: str):
    model_path = models_path / model_id
    agent_stats_path = model_path / "agent_stats.parquet"
    
    return pd.read_parquet(agent_stats_path)

def get_aggregated_stats(model_id: str):
    model_path = models_path / model_id
    aggregated_stats_path = model_path / "aggregated_stats.parquet"

    return pd.read_parquet(aggregated_stats_path)

def get_episode_stats(model_id: str):
    model_path = models_path / model_id
    episode_stats_path = model_path / "episode_stats.parquet"

    return pd.read_parquet(episode_stats_path)

In [32]:
model_id = "single_drl"

In [33]:
agent_stats = get_agent_stats(model_id)
print(len(agent_stats))
print(agent_stats["map_name"].unique())
agent_stats.head(10)

4
['CollectMineralsAndGas' 'BuildMarines' 'DefeatZerglingsAndBanelings'
 'Simple64']

,map_name,step_count,episode_count,total_reward,total_score,total_emissions
0,CollectMineralsAndGas,564,4,12245.0,0,0.001675
1,BuildMarines,1204,4,122.0,0,0.005856
2,DefeatZerglingsAndBanelings,84,4,390.0,0,0.000595
3,Simple64,503,2,2.0,0,0.002143

In [34]:
aggregated_stats = get_aggregated_stats(model_id)
print(len(aggregated_stats))
print(aggregated_stats["map_name"].unique())
aggregated_stats.head(10)

4
['CollectMineralsAndGas' 'BuildMarines' 'DefeatZerglingsAndBanelings'
 'Simple64']

,map_name,rewards,scores,epsilons,losses,steps,emissions,max_reward,max_score
0,CollectMineralsAndGas,"[3000.0, 3390.0, 3190.0, 2665.0]","[0, 0, 0, 0]","[1.0, 1.0, 1.0, 1.0]","[inf, inf, inf, inf]","[141, 141, 141, 141]","[0.00024803034996410527, 0.0002261679102347619...",3390.0,0
1,BuildMarines,"[28.0, 29.0, 26.0, 39.0]","[0, 0, 0, 0]","[1.0, 1.0, 1.0, 1.0]","[inf, inf, inf, inf]","[301, 301, 301, 301]","[0.0007505138872732949, 0.0007071423133082611,...",39.0,0
2,DefeatZerglingsAndBanelings,"[36.0, 118.0, 159.0, 77.0]","[0, 0, 0, 0]","[1.0, 1.0, 1.0, 1.0]","[inf, inf, inf, inf]","[9, 23, 31, 21]","[7.773552588548605e-05, 8.831672955120267e-05,...",159.0,0
3,Simple64,"[1.0, 1.0]","[0, 0]","[1.0, 1.0]","[inf, inf]","[276, 227]","[0.001247192354650134, 0.0008958311417173797]",1.0,0

In [35]:
episode_stats = get_episode_stats(model_id)
print(len(episode_stats))
print(episode_stats["map_name"].unique())
episode_stats.head(10)

14
['CollectMineralsAndGas' 'BuildMarines' 'DefeatZerglingsAndBanelings'
 'Simple64']

,map_name,reward,steps,epsilon,losses,emissions,score
0,CollectMineralsAndGas,3000.0,141,1.0,[],0.000248,0
1,CollectMineralsAndGas,3390.0,141,1.0,[],0.000226,0
2,CollectMineralsAndGas,3190.0,141,1.0,[],0.000472,0
3,CollectMineralsAndGas,2665.0,141,1.0,[],0.000728,0
4,BuildMarines,28.0,301,1.0,[],0.000751,0
5,BuildMarines,29.0,301,1.0,[],0.000707,0
6,BuildMarines,26.0,301,1.0,[],0.001709,0
7,BuildMarines,39.0,301,1.0,[],0.002690,0
8,DefeatZerglingsAndBanelings,36.0,9,1.0,[],0.000078,0
9,DefeatZerglingsAndBanelings,118.0,23,1.0,[],0.000088,0